<div class="wrapper">
        <nav id="sidebar">
            <div class="sidebar-header">
                <a routerLink="/"><h5 class="title">Füdtruck</h5></a>
            </div>
            <ul class="list-unstyled components nav">
                <li [routerLink]="['map']" routerLinkActive="active">
                  <a>
                      <i class="fa fa-map-pin nav-icon" aria-hidden="true"></i>
                      <h4 class="nav-link" style="margin-left:6px">Map</h4>
                  </a>
                </li>
                <li [routerLink]="['search']" routerLinkActive="active">
                  <a>
                    <i class="fa fa-search nav-icon" aria-hidden="true"></i>
                    <h4 class="nav-link" >Search</h4>
                  </a>
                </li>
                <li [routerLink]="['contact']" routerLinkActive="active">
                  <a>
                    <i class="fa fa-comment nav-icon" aria-hidden="true"></i>
                    <h4 class="nav-link">Contact</h4>
                  </a>
                </li>
            </ul>
        </nav>
</div>
<router-outlet></router-outlet>
