<mdb-navbar SideClass="navbar fixed-top navbar-expand-lg navbar-dark unique-color-dark scrolling-navbar" [containerInside]="true">
    <logo>
        <a class="logo navbar-brand" routerLink="['home']"><strong>FüdTime</strong></a>
    </logo>
    <links>
        <ul class="navbar-nav ml-auto">
            <li class="nav-item waves-light" mdbRippleRadius>
                <a class="nav-link" routerLink="/login" *ngIf="!loggedin">Login</a>
                <a class="nav-link" routerLink="/login" *ngIf="loggedin">Dashboard</a>
            </li>
        </ul>
    </links>
</mdb-navbar>
<router-outlet></router-outlet>
