.truckIntro {
    color: #fff;
    margin: 0;
    font-size: .9em;
    display: inline-block;
    padding-left: 5px;
}
.navbar {
    box-shadow: none !important;
   -webkit-box-shadow: none !important;
}
.mat-raised-button:not([class*=mat-elevation-z]) {
    box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
    background-color: #2e5e8e;
    color: #fff;
}
.container {
    max-width: none;
    margin-top: 20px;
    height: 100vh;
    margin: 0;
    padding: 0;
    background-color: #fff;
    .top-half {
        height: 25%;
        margin: 0;
        padding: 0;
        background-color: #ececec;
    }
    .bottom-half {
        height: 75%;
        margin: 50px;
        padding: 0;
        background-color: #fff;
        h1 {
            font-size: 1em;
            font-weight: 600;
            color: #555;
        }
    }
}

.dropdown-menu {
    position: absolute;
    left: 0;
    z-index: 1000;
    width: 100%;
    display: none;
    float: left;
    min-width: 10rem;
    padding: 0.3rem 0;
    margin: 0.125rem 0 0;
    font-size: 1rem;
    color: #fff;
    text-align: left;
    list-style: none;
    background-color: #fff;
    font-weight: 600;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 0 0 0.25rem 0.25rem;
}

.dropdown .dropdown-menu .dropdown-item:hover, .dropdown .dropdown-menu .dropdown-item:active, .dropdown .dropdown-menu .dropdown-item:focus {
    color: #fff;
    background-color: #2e5e8e !important;
}

.dropdown[_ngcontent-c2] .dropdown-menu[_ngcontent-c2] .dropdown-item[_ngcontent-c2]:hover, .dropdown[_ngcontent-c2] .dropdown-menu[_ngcontent-c2] .dropdown-item[_ngcontent-c2]:active, .dropdown[_ngcontent-c2] .dropdown-menu[_ngcontent-c2] .dropdown-item[_ngcontent-c2]:focus {
    color: #fff;
    background-color: #2e5e8e;
}
.navbar .dropdown-menu a {
    color: #fff !important;
    padding: 10px 10px 10px 30px !important;
}

@media (min-width: 600px) {
    .navbar.scrolling-navbar {
        padding-top: 5px;
        padding-bottom: 5px;
    }
}

.truck-img {
    display: inline-block;
    img {
        height: 40px;
        width: 40px;
        transition: ease-in-out all .5s;
        border-radius: 50%;
    }
} 

.truck-data {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    padding-left: 100px;
    display: inline-flex;
    flex-direction: row;
    .truck-info {
        margin: auto;
        position: relative;
        padding-left: 30px;
        transition: ease-in-out all .5s;
        h1 {
            margin: 0;
            padding: 0 0 5px 0;
            font-size: 1.5em;
            font-weight: 600;
            transition: ease-in-out all .5s;
        }
        h3 {
            font-size: 1.2em;
            margin: 0;
            padding: 0 0 5px 0;
            transition: ease-in-out all .5s;
        }
        .truck-links {
            ul {
                list-style: none;
                padding: 0;
                display: flex;
                margin: 10px 0;
                li {
                    padding-right: 10px;
                    a {
                        font-size: .8em;
                        font-weight: 600;
                        padding: 8px 15px;
                        //background-color: #5394ff;
                        text-decoration: none;
                        color: #fff;
                        border-radius: 4px;
                    }
                }
            }
        }
    }
}
.example-button-row {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
