<div class="container">
  <div class="top-half">
    <div class="truck-data">
      <div class="truck-info">
        <h1>{{truckData.name}}</h1>
        <div class="button-row">
            <a mat-raised-button color="primary" routerLink="/truck-client/menu-edit">Update Menu</a>
            <button mat-raised-button color="primary" *ngIf="!sharing"><a (click)="startSharing(true)">Start Sharing Location</a></button>
            <button style="background-color: #ff4141;" mat-raised-button color="warn" *ngIf="sharing"><a (click)="startSharing(false)">Stop Sharing Location</a></button>
        </div>
      </div>
    </div>
  </div>
  <div class="bottom-half">
    <h1>Last Location</h1>
    <div class="map-info">
      <agm-map [styles]="style" [latitude]="marker.lat" [disableDoubleClickZoom]="true" [mapDraggable]="false" [zoomControl]="false" [maxZoom]=13 [minZoom]=13 [longitude]="marker.lng" [zoom]="13" style="height: 30vh; padding: 0; margin: 0">
        <agm-marker [latitude]="marker.lat" [longitude]="marker.lng" [label]="" [iconUrl]="marker.icon"></agm-marker>
      </agm-map>
    </div>
  </div>
</div>
