<div id="content">
  <div class="search">
    <h1>Food Truck Search</h1>
    <p>Search by a food truck name to get more information.</p>
    <input #query type="text" placeholder="Food truck name..." class="form-control controls" />
  </div>
  <div id="info">
        <ul class="active-trucks">
          <li *ngFor="let truck of truckList | filter : query.value">
            <div class="truck-name-info">
              <h1>{{truck.truckName}}</h1>
              <p>Miles from you: 0.4mi</p>
            </div>
            <div class="truck-rating">
              <h1>{{truck.rating}}</h1>
            </div>
          </li>
        </ul>
  </div>
</div>
