 <div class="content">
    <mat-tab-group>
      <mat-tab *ngFor="let category of categories" label="{{category}}">
        <div *ngFor="let menuItem of menu[category]; let i = index">
          <mat-card>
              <input class="firstItemInput" id="item{{i}}" type="text" [ngModel]="menuItem.item" (ngModelChange)="onChange($event, category, i, 'item')">
              <input id="descr{{i}}" type="text" [ngModel]="menuItem.descr" (ngModelChange)="onChange($event, category, i, 'descr')">
              <input id="price{{i}}" type="text" [ngModel]="menuItem.price" (ngModelChange)="onChange($event, category, i, 'cost')">
          </mat-card>
        </div>
      </mat-tab>
    </mat-tab-group>
    <div id="updateContainer" style="width: 100%; padding: 40px; text-align: center">
        <button mat-raised-button id="update" (click)="updateMenu()" style="padding: 10px 20px">Save Changes</button>
    </div>
  </div>
