.truckIntro {
    color: #fff;
    margin: 0;
    font-size: .9em;
}
.navbar {
    box-shadow: none !important;
   -webkit-box-shadow: none !important;
}
.content {
    margin: 20px;
}
.card .card-body {
    position: relative;
    box-shadow: none;
    max-width: 80%;
}
.md-form .btn {
    margin-bottom: 1rem;
    padding: 10px 70px;
}

#update {
    background-color: #62afff;
    color: #fff;
}