<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark unique-color-dark scrolling-navbar" [containerInside]="true">
    <logo>
        <a class="logo navbar-brand" routerLink="['home']"><strong>FüdTime</strong></a>
    </logo>
    <links>
        <ul class="navbar-nav ml-auto">
            <li class="nav-item waves-light" mdbRippleRadius>
                <!--<p class="truckIntro" routerLink="/truck-client">Hello, <strong>{{truckData.name}}</strong>.</p>-->
            </li>
        </ul>
    </links>
  </mdb-navbar>

  <div class="content">
    <mat-tab-group>
      <mat-tab *ngFor="let category of categories" label="{{category}}">
        <div *ngFor="let menuItem of menu[category]; let i = index">
          <mat-card>
              <input type="text" [ngModel]="menuItem.item" (ngModelChange)="onChange($event, category, i, 'item')">
              <input type="text" [ngModel]="menuItem.descr" (ngModelChange)="onChange($event, category, i, 'descr')">
              <input type="text" [ngModel]="menuItem.price" (ngModelChange)="onChange($event, category, i, 'cost')">
          </mat-card>
        </div>
      </mat-tab>
    </mat-tab-group>
    <button mat-raised-button (click)="updateMenu()">Update</button>
  </div>
