
<div id="content">
    <div class="loader" *ngIf="loading">
        <div class="waiting">
            <p class="wave">🚚 </p>
            <h4>Getting trucks near you...</h4>
        </div>
    </div>
  <div class="search">
    <input #query type="text" placeholder="Food truck name..." class="form-control-update controls" (input)="onKey($event)" />
  </div>
  <agm-map
  [latitude]="map.lat"
  [longitude]="map.lng"
  [zoom]="13"
  [styles]="style"
  style="height: 60vh; padding: 0; margin: 0">
  <agm-direction *ngIf="dir" [renderOptions]="options" [origin]="dir.origin" [destination]="dir.destination" [visible]="givingDirections"></agm-direction>
    <agm-marker
      *ngFor="let m of markers; let i = index"
      (markerClick)="clickedMarker(m.truckName, i)"
      [latitude]="m.lat"
      [longitude]="m.lng"
      [label]="{
          color: '#ffffff',
          fontWeight: 'bold',
          text: m.label
        }"
      [iconUrl]="m.icon"
      [zIndex]="i"
      >
      <agm-info-window>
        <strong>{{m.truckName}}</strong>
      </agm-info-window>

    </agm-marker>
  </agm-map>

  <ul class="active-trucks make-scrollable">
    <li class="tools" style="padding-bottom: 20px;">
        <button mat-raised-button style="background-color: #2e5e8e" (click)="resetMarkers()">Reset</button>
    </li>
    <li *ngFor="let truck of truckList | filter : query.value">
      <div class="truck-name-info" (click)="getDirections(truck.lat, truck.lng, truck.tid)">
        <h1><span style="margin: 0; padding: 0; font-size: .8em">({{truck.label}})</span> {{truck.name}}</h1>
        <p>Miles from you: {{truck.distanceFrom}}mi</p>
      </div>
      <div class="icons">
        <img class="i" src="./assets/images/menu.svg" (click)="openMenu(truck.tid, truck.name)"/>
        <img class="i" src="./assets/images/contact.svg" (click)="openContact(truck.tid, truck.name)" />
      </div>
    </li>
  </ul>
<div>

  <div mdbModal #content="mdb-modal" class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title" id="exampleModalLabel">{{currentTruckName}}</h1>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="content.hide()">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <div id="menuBody" *ngFor="let obj of menu">
                    <h3 id="menu-cat">{{obj[0].category}}</h3>
                    <mat-card id="m-item" *ngFor="let i of obj">
                      <h4 id="menu-item">{{i.item}}</h4>
                      <p id="menu-desc"><em>{{i.descr}}</em></p>
                      <p id="menu-price">${{i.price}}</p>
                    </mat-card>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary waves-light" data-dismiss="modal" (click)="content.hide()" mdbRippleRadius>Close</button>
            </div>
        </div>
    </div>
</div>

  <!--Modal: Contact form-->
  <div mdbModal #form="mdb-modal" class="modal fade" id="modalContactForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog cascading-modal" role="document">
          <!--Content-->
          <div class="modal-content">

              <!--Header-->
              <div class="modal-header light-blue darken-3 white-text">
                  <h4 class="title">Contact <em>{{currentTruckName}}</em></h4>
                  <button type="button" class="close waves-effect waves-light" data-dismiss="modal" aria-label="Close" (click)="form.hide()">
                      <span aria-hidden="true">×</span>
                  </button>
              </div>
              <!--Body-->
              <div class="modal-body mb-0">
                  <div class="md-form form-sm">
                      <i class="fa fa-user-circle prefix"></i>
                      <input mdbActive type="text" id="cntc_name" [(ngModel)]="cntc_name" class="form-control" required>
                      <label for="cntc_name">Name</label>
                  </div>

                  <div class="md-form form-sm">
                      <i class="fa fa-at prefix"></i>
                      <input mdbActive type="text" id="email_addr" [(ngModel)]="email" class="form-control" required>
                      <label for="email_addr">Email Address</label>
                  </div>

                  <div class="md-form form-sm">
                      <i class="fa fa-mobile prefix"></i>
                      <input mdbActive type="text" id="phone" [(ngModel)]="phone" class="form-control" required>
                      <label for="phone">Phone #</label>
                  </div>

                  <div class="md-form form-sm">
                      <i class="fa fa-pencil prefix"></i>
                      <textarea mdbActive type="text" id="message" [(ngModel)]="message" class="md-textarea mb-0"></textarea>
                      <label for="message">Message</label>
                  </div>

                  <div class="text-center mt-1-half">
                      <button class="btn btn-info mb-2 waves-light" mdbRippleRadius (click)="contact(currentTruckID, cntc_name, email, phone, subject, message)">Send <i class="fa fa-send ml-1"></i></button>
                  </div>

              </div>
          </div>
          <!--/.Content-->
      </div>
  </div>
  <div mdbModal #style="mdb-modal" class="modal fade" id="centralModalSuccess" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-notify modal-success" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <p class="heading lead">Email Sent</p>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="style.hide()">
                        <span aria-hidden="true" class="white-text">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="text-center">
                        <i class="fa fa-check fa-4x mb-3 animated rotateIn"></i>
                        <p>Message sent! </p>
                    </div>
                </div>
                <div class="modal-footer justify-content-center">
                    <a class="btn btn-secondary" data-dismiss="modal" (click)="style.hide()" mdbRippleRadius>Okay</a>
                </div>
            </div>
        </div>
    </div>
  <!--Modal: Contact form-->
  </div>
