
<div id="content">
    <div class="loader" >
        <p>Finding trucks near you...</p>
    </div>
  <div class="search">
    <input #query type="text" placeholder="Food truck name..." class="form-control-update controls" (input)="onKey($event)" />
  </div>
  <agm-map
  [latitude]="map.lat"
  [longitude]="map.lng"
  [zoom]="13"
  [styles]="style"
  style="height: 60vh; padding: 0; margin: 0">

    <agm-marker
      *ngFor="let m of markers; let i = index"
      (markerClick)="clickedMarker(m.label, i)"
      [latitude]="m.lat"
      [longitude]="m.lng"
      [label]="m.label"
      [iconUrl]="m.icon"
      >
      <agm-info-window>
        <strong>{{m.truckName}}</strong>
      </agm-info-window>

    </agm-marker>

  </agm-map>

  <ul class="active-trucks make-scrollable">
    <li *ngFor="let truck of truckList | filter : query.value">
      <div class="truck-name-info">
        <h1>{{truck.name}}</h1>
        <p>Miles from you: {{truck.distanceFrom}}mi</p>
      </div>
      <div class="icons">
        <img class="i" src="./assets/images/menu.svg" (click)="openMenu(truck.tid, truck.name)"/>
        <img class="i" src="./assets/images/contact.svg" (click)="form.show()" />
      </div>
    </li>
  </ul>
<div>

  <div mdbModal #content="mdb-modal" class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="exampleModalLabel">Menu for {{currentTruckName}}</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="content.hide()">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <div id="menuBody" *ngFor="let obj of menu">
                    <h3 id="menu-cat">{{obj[0].category}}</h3>
                    <div id="m-item" *ngFor="let i of obj">
                      <h4 id="menu-item">{{i.item}}</h4>
                      <p id="menu-desc"><em>{{i.descr}}</em></p>
                      <p id="menu-price">${{i.price}}</p>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary waves-light" data-dismiss="modal" (click)="content.hide()" mdbRippleRadius>Close</button>
            </div>
        </div>
    </div>
</div>

  <!--Modal: Contact form-->
  <div mdbModal #form="mdb-modal" class="modal fade" id="modalContactForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog cascading-modal" role="document">
          <!--Content-->
          <div class="modal-content">

              <!--Header-->
              <div class="modal-header light-blue darken-3 white-text">
                  <h4 class="title">Contact</h4>
                  <button type="button" class="close waves-effect waves-light" data-dismiss="modal" aria-label="Close" (click)="form.hide()">
                      <span aria-hidden="true">×</span>
                  </button>
              </div>
              <!--Body-->
              <div class="modal-body mb-0">
                  <div class="md-form form-sm">
                      <i class="fa fa-envelope prefix"></i>
                      <input mdbActive type="text" id="form19" class="form-control">
                      <label for="form19">Your name</label>
                  </div>

                  <div class="md-form form-sm">
                      <i class="fa fa-lock prefix"></i>
                      <input mdbActive type="password" id="form20" class="form-control">
                      <label for="form20">Your email</label>
                  </div>

                  <div class="md-form form-sm">
                      <i class="fa fa-tag prefix"></i>
                      <input mdbActive type="text" id="form21" class="form-control">
                      <label for="form21">Subject</label>
                  </div>

                  <div class="md-form form-sm">
                      <i class="fa fa-pencil prefix"></i>
                      <textarea mdbActive type="text" id="form8" class="md-textarea mb-0"></textarea>
                      <label for="form8">Your message</label>
                  </div>

                  <div class="text-center mt-1-half">
                      <button class="btn btn-info mb-2 waves-light" mdbRippleRadius>Send <i class="fa fa-send ml-1"></i></button>
                  </div>

              </div>
          </div>
          <!--/.Content-->
      </div>
  </div>
  <!--Modal: Contact form-->
  </div>
