#content {
    width: 100%;
    padding-bottom: 40px;
    min-height: 100vh;
    transition: all 0.3s;
    position: absolute;
    top: 0;
    right: 0;
    overflow: hidden;
    height: 100%;
}

.search {
  box-shadow: 0px 4px 10px rgba(0,0,0, 0.3);
  position: relative;
  top: 100px;
  z-index: 2;
  margin: 0 auto;
  display: block;
  width: 80%;
  max-width: 600px;
  height: 45px;
}

.make-scrollable {
    height: 32vh; //Or any other height you wish
    overflow-y: scroll;
}

.icons .i {
  height: 26px;
  padding: 0 10px;
}

.icons {
  display: flex;
  flex-direction: row;
}

.icons .i:hover {
  cursor: pointer;
}

#menu-cat {
    font-weight: 600 !important;
    color: #101f73 !important;
}

#menu-item {
    font-weight: 400 !important;
    font-size: 1.2em !important;
}

@media (min-width: 576px) {
    .modal-dialog {
        max-width: 1000px;
        margin: 30px auto;
    }
}

.modal-dialog.cascading-modal .modal-header .title {
  font-weight: 700;
  text-transform: uppercase;
}

.md-form.form-sm .prefix {
    font-size: 1.2rem;
    top: 0.4rem;
    color: #32455d;
}

.btn-info {
    background-color: #32455d;
}

.light-blue.darken-3 {
    background-color: #32455d !important;
}

.md-form.form-sm label {
    font-size: 0.9rem;
    font-weight: 500;
}

.btn-info:hover {
    background-color: #496588 !important;
}


.active-trucks {
  list-style: none;
  display: block;
  padding: 10px;
  li {
    border-bottom: 1px solid #eee;
    width: 100%;
    padding: 20px 20px 0  20px;
    display: flex;
    flex-direction: row;
    background-color: #fff;
    h1 {
      font-size: 1em;
      font-weight: 500;
      padding-right: 20px;
      color: #32455d;
    }
  }
}
.truck-name-info {
  flex-grow: 1;
}

.truck-rating {
  h1 {
    padding-right: 10px;
  }
}

.form-control-update {
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: rgba(255,255,255, 0.9);
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.form-control:focus {
    border-color: #66afe9;
    outline: 0;
    outline-color: black;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6);
}

.form-control::-moz-placeholder {
    color: #999;
    opacity: 1;
}

.form-control:-ms-input-placeholder {
    color: #999;
}

.form-control::-webkit-input-placeholder {
    color: #999;
}

.form-control::-ms-expand {
    background-color: transparent;
    border: 0;
}

.form-control[disabled],
.form-control[readonly],
fieldset[disabled] .form-control {
    background-color: #eee;
    opacity: 1;
}

.form-control[disabled],
fieldset[disabled] .form-control {
    cursor: not-allowed;
}

textarea.form-control {
    height: auto;
}

input[type="search"] {
    -webkit-appearance: none;
}
