#content {
    width: 100%;
    padding-bottom: 40px;
    min-height: 100vh;
    transition: all 0.3s;
    position: absolute;
    top: 0;
    right: 0;
    overflow: hidden;
    height: 100%;
}

.loader {
    width: 100%;
    height: 120%;
    background-color: #2e5e8e;
    z-index: 99999;
    align-items: center;
    transition: visibility 0s 1s, opacity 1s linear;
}

.btn-secondary {
    background-color: #2e5e8e !important; 
}

.waiting {
    position: relative;
    top: 40%;
}

.waiting p {
    color: #fff;
    font-size: 4em;
    margin: auto;
    z-index: 999999;
    text-align: center;
    position: relative;
    width: 50%;
    height: inherit;
    display: block;
}

.loader div h4 {
    color: #fff;
    font-size: 1em;
    margin: auto;
    z-index: 999999;
    text-align: center;
    position: relative;
    display: block;
}

.search {
  box-shadow: 0px 4px 10px rgba(0,0,0, 0.3);
  position: relative;
  top: 100px;
  z-index: 2;
  margin: 0 auto;
  display: block;
  width: 80%;
  max-width: 600px;
  height: 45px;
}

.wave {
    font-size: 4em;
    animation: wave .2s cubic-bezier( 0.36, 0.45, 0.63, 0.53) infinite;
    transform: translate3d(0, 0, 0);
  }
  
  @keyframes wave {
    0%, 100% {
      margin-top: 0;
    }
    50% {
      margin-top: 3px;
  }
}

.make-scrollable {
    height: 35vh; //Or any other height you wish
    overflow-y: scroll;
}

.icons .i {
  height: 26px;
  padding: 0 10px;
}

.icons {
  display: flex;
  flex-direction: row;
}

.icons .i:hover {
  cursor: pointer;
}

#menu-cat {
    font-weight: 600 !important;
    color: #2e5e8e !important;
}

#menu-item {
    font-weight: 400 !important;
    font-size: 1.2em !important;
}

@media (min-width: 576px) {
    .modal-dialog {
        max-width: 1000px;
        margin: 30px auto;
    }
}

.modal-dialog.cascading-modal .modal-header .title {
  font-weight: 700;
  text-transform: uppercase;
}

.modal-body {
    height: 64vh; //Or any other height you wish
    overflow-y: scroll;
}

.md-form.form-sm .prefix {
    font-size: 1.2rem;
    top: 0.4rem;
    color: #2e5e8e;
}

.btn-info {
    background-color: #2e5e8e;
}

.light-blue.darken-3 {
    background-color: #2e5e8e !important;
}

.md-form.form-sm label {
    font-size: 0.9rem;
    font-weight: 500;
}

.btn-info:hover {
    background-color: #2e5e8e !important;
}

.mat-raised-button:not([class*=mat-elevation-z]) {
    box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
    background-color: #2e5e8e;
    color: #fff;
}

.active-trucks {
  list-style: none;
  display: block;
  padding: 0 10px;
  li {
    border-bottom: 1px solid #eee;
    width: 100%;
    padding: 20px 20px 0px 20px;
    display: flex;
    flex-direction: row;
    background-color: #fff;
    h1 {
      font-size: 1em;
      font-weight: 500;
      padding-right: 20px;
      color: #2e5e8e;
    }
  }
}
.truck-name-info {
  flex-grow: 1;
}

.truck-rating {
  h1 {
    padding-right: 10px;
  }
}

.form-control-update {
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: rgba(255,255,255, 0.9);
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.form-control:focus, .form-control:active {
    border-color: #2e5e8e !important;
    outline: 0;
    outline-color: black;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px #32455d !important;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px #32455d !important;
}

.btn-info:not([disabled]):not(.disabled):active, .btn-info:not([disabled]):not(.disabled).active, .show > .btn-info.dropdown-toggle, .btn-info:not([disabled]):not(.disabled):focus {
    border-color: #2e5e8e !important;
    outline: 0;
    outline-color: black;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px #32455d !important;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px #32455d !important;
}

.form-control::-moz-placeholder {
    color: #999;
    opacity: 1;
}

.form-control:-ms-input-placeholder {
    color: #999;
}

.form-control::-webkit-input-placeholder {
    color: #999;
}

.form-control::-ms-expand {
    background-color: transparent;
    border: 0;
}

.form-control[disabled],
.form-control[readonly],
fieldset[disabled] .form-control {
    background-color: #eee;
    opacity: 1;
}

.form-control[disabled],
fieldset[disabled] .form-control {
    cursor: not-allowed;
}

textarea.form-control {
    height: auto;
}

input[type="search"] {
    -webkit-appearance: none;
}
