<!--Main Navigation-->
<header>

    <!--Navbar-->
    <mdb-navbar SideClass="navbar fixed-top navbar-expand-lg navbar-dark unique-color-dark scrolling-navbar" [containerInside]="true">
        <logo>
            <a class="logo navbar-brand" href="#">FüdTime</a>
        </logo>
        <links>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item waves-light" mdbRippleRadius>
                    <a class="nav-link" routerLink="/client-home">Hungry?</a>
                </li>
            </ul>
        </links>
    </mdb-navbar>

    <!--Intro Section-->
    <section class="view intro-2 hm-stylish-strong">
        <div class="full-bg-img">
            <div class="container flex-center">
                <div class="d-flex align-items-center">
                    <div class="row flex-center pt-10 mt-10">
                        <div class="col-md-12 col-xl-12">
                            <!--Form-->
                            <div class="card wow fadeInRight" data-wow-delay="0.3s">
                                <div class="card-body z-depth-2">
                                    <!--Header-->
                                    <div class="text-center">
                                        <h3>Login</h3>
                                        <hr>
                                    </div>

                                    <!--Body-->
                                    <div class="md-form">
                                        <input type="text" id="form3" [(ngModel)]="email"  class="form-control" mdbActive />
                                        <label for="form3">Email</label>
                                    </div>
                                    <div class="md-form">
                                     <input type="password" id="form2" [(ngModel)]="pass" class="form-control" mdbActive  />
                                        <label for="form2">Password</label>
                                    </div>

                                    <div class="text-center">
                                        <button class="btn peach-gradient waves-light" mdbRippleRadius (click)="login()">Send</button>
                                        <hr>
                                    </div>
                                    <div class="text-center bottom-links">
                                        <a routerLink="/register">Need an Account? Sign up!</a><br>
                                        <a routerLink="/forgotPassword">Forgot Password?</a>
                                    </div>
                                  </div>

                                </div>
                            </div>
                            <!--/.Form-->
                        </div>
                    </div>
                </div>
            </div>
    </section>
</header>
<!--Main Navigation-->
