<!--Main Navigation-->
<header>

    <!--Navbar-->
    <mdb-navbar SideClass="navbar fixed-top navbar-expand-lg navbar-dark unique-color-dark scrolling-navbar" [containerInside]="true">
        <logo>
            <a class="logo navbar-brand" href="#">FüdTime</a>
        </logo>
        <links>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item waves-light" mdbRippleRadius>
                    <a class="nav-link" routerLink="/client-home">Hungry?</a>
                </li>
            </ul>
        </links>
    </mdb-navbar>

    <!--Intro Section-->
    <section class="view intro-2 hm-stylish-strong">
        <div class="full-bg-img">
            <div class="container flex-center">
                <div class="d-flex align-items-center">
                    <div class="row flex-center pt-10 mt-10">
                        <div class="col-md-8 col-xl-8">
                            <!--Form-->
                            <div class="card wow fadeInRight" data-wow-delay="0.3s">
                                <div class="card-body z-depth-2">
                                    <!--Header-->
                                    <div class="text-center">
                                        <h3>Register Truck</h3>
                                        <p>Ready to join? Send us your information with the form below. We will review your information and contact you with details on how to setup your account!</p>
                                    </div>

                                    <!--Body-->
                                    <div class="md-form">
                                        <input type="text" id="form1" [(ngModel)]="email"  class="form-control" mdbActive />
                                        <label for="form3">Email</label>
                                    </div>
                                    <div class="md-form">
                                        <input type="text" id="form2" [(ngModel)]="fname"  class="form-control" mdbActive />
                                        <label for="form3">First Name</label>
                                    </div>
                                    <div class="md-form">
                                        <input type="text" id="form3" [(ngModel)]="lname"  class="form-control" mdbActive />
                                        <label for="form3">Last Name</label>
                                    </div>
                                    <div class="md-form">
                                     <input type="password" id="form4" [(ngModel)]="pass" class="form-control" mdbActive  />
                                        <label for="form2">Password</label>
                                    </div>
                                    <div class="md-form">
                                        <input type="text" id="form5" [(ngModel)]="tname" class="form-control" mdbActive  />
                                        <label for="form2">Truck Name</label>
                                    </div>
                                    <div class="text-center">
                                        <button class="btn btn-outline-primary waves-light" mdbRippleRadius routerLink="/login">Go Back</button>
                                        <button class="btn btn-solid peach-gradient waves-light" mdbRippleRadius (click)="sendRegistrationEmail()">Send</button>
                                        <hr>
                                    </div>
                                  </div>
                                </div>
                            </div>
                            <!--/.Form-->
                        </div>
                    </div>
                </div>
            </div>
    </section>
    <div mdbModal #style="mdb-modal" class="modal fade" id="centralModalSuccess" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-notify modal-success" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <p class="heading lead">Email Sent</p>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="style.hide()">
                        <span aria-hidden="true" class="white-text">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="text-center">
                        <i class="fa fa-check fa-4x mb-3 animated rotateIn"></i> 
                        <p>Congratulations! You're on your way to enhancing the way you do business. We will review your information and get back to you as soon as possible!</p>
                    </div>
                </div>
                <div class="modal-footer justify-content-center">
                    <a class="btn btn-secondary" data-dismiss="modal" (click)="style.hide()" mdbRippleRadius>Okay</a>
                </div>
            </div>
        </div>
    </div>
</header>
<!--Main Navigation-->
