.intro-2 {
    background: url("https://mdbootstrap.com/img/Photos/Others/img%20(46).jpg")no-repeat center center;
    background-size: cover;
    height: 100vh;
}
.top-nav-collapse {
    background-color: #ff8a65 !important;
}
.navbar:not(.top-nav-collapse) {
    background: transparent !important;
}
.bottom-links a {
    font-size: .7em;
}
.btn-info:not([disabled]):not(.disabled):active, .btn-info:not([disabled]):not(.disabled).active, .show > .btn-info.dropdown-toggle {
    color: #fff;
    background-color: #32455d;
    border-color: #32455d;
}

.text-center {
    padding-top: 20px;
}

.md-form .prefix {
    font-size: 1.5rem;
    margin-top: 1rem;
}
.card-body{
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 1.25rem 4.25rem;
    min-width: 500px;
}
.card {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: rgba(255,255,255,0.9);
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.25rem;
}
.card .card-body h3 {
    margin-bottom: 1rem;
    font-weight: 400;
    text-transform: uppercase;
    font-size: 1.4em;
}
.btn {
  background-color:#32455d;
}
h6 {
    line-height: 1.7;
}
.md-form {
    position: relative;
    margin-bottom: 1.5rem;
    margin-top: 40px;
}

@media (max-width: 768px) {
    .navbar:not(.top-nav-collapse) {
        background: #ff8a65 !important;
    }
}
@media (max-width: 740px) {
    .full-height,
    .full-height body,
    .full-height header,
    .full-height header .view {
        height: 1150px;
    }
    .card-body[_ngcontent-c1] {
      min-width: 300px;
    }
}
