.view {
    background: url('../../../assets/images/635.jpg') no-repeat center center;
    background-size: cover;
    height: 100vh;
}
.navbar-brand {
    font-weight: 500;
    font-size: 1.3em !important;
    margin: 0;
}
