<header>
    <mdb-navbar SideClass="navbar fixed-top navbar-expand-lg navbar-dark unique-color-dark scrolling-navbar" [containerInside]="true">
        <logo>
            <a class="logo navbar-brand" href="#"><strong>FüdTime</strong></a>
        </logo>
        <links>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item waves-light" mdbRippleRadius>
                    <a class="nav-link" routerLink="/about">About</a>
                </li>
                <li class="nav-item waves-light" mdbRippleRadius>
                    <a class="nav-link">Login</a>
                </li>
            </ul>
        </links>
    </mdb-navbar>
    <!-- Main -->
    <div class="view hm-black-light">
        <div class="full-bg-img flex-center">
            <div class="container">
                <div class="white-text text-center wow fadeInUp">
                    <h1 class="h1" style="font-size: 3.5em">Welcome to 🍗🚚's</h1>
                    <h5>Are you ready to eat?</h5>
                    <br>
                    <button type="button" class="btn btn-primary btn-rounded waves-light" mdbRippleRadius routerLink="/client-home">Let's get started</button>
                </div>
            </div>
        </div>
    </div>
    <!-- /.Main -->
</header>
