/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/indigo-pink.css';
.hm-black-light .mask, .hm-black-light .full-bg-img {
    background-color: rgba(0, 0, 0, 0.7);
}

.unique-color-dark {
    background-color: #4285F4 !important;
}

button {
    background-color: #4285F4 !important;
}

body {
  font-family: 'Roboto', 'Roboto', sans-serif;
}
